body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0d1117;
    color: white;
    text-align: center;
}

header {
    background: #161b22;
    padding: 60px 20px;
}

h1 {
    color: #58a6ff;
}

section {
    padding: 40px 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

footer {
    background: #161b22;
    padding: 20px;
  }
